/* Buttons*/
.btnMicrosoft {
    background-color: #A7D3E7;
}

.btnApple {
    background-color: #84D9FF;
}

.btnLinkedIn {
    background-color: #5FC4DE;
}

.btnEmail{
    background-color: black;
}

.btnMicrosoft, .btnApple, .btnLinkedIn, .btnEmail {
    justify-content:center;
    color:white;
}

/*Creating a strike before the or text*/

.strike {
    overflow: hidden;
    text-align: center;
  }
  
  .strike:before,
  .strike:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30%;
  }
  
  .strike:before {
    right: 12%;
    margin-left: -20%;
  }
  
  .strike:after {
    left: 12%;
    margin-right: -20%;
  }