.button{
   border-radius: 8px;
   padding: .3em 2em .1em 2em;
   background-color: #3DA8FF;
   border: none;
}
.main{
   background-color: #BCE7FA; 
   height: 100vh;
}

.input {
background-color: rgb(255, 255, 255);
}